<!--サイトについての文章-->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="card mx-auto mt-5 mb-5 box-shadow">
        <div class="card-body">
          <p class="card-text">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br>
            様々なバリエーションをご用意しております。<br>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
            ご注文をお待ちしております。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>