<!--サイトの紹介文-->
<div class="container">
  <div class="row">
    <div class="col-3">
      <div class="card mt-5 box-shadow">
        <div class="card-header">
          ジャンル検索
        </div>
        <div class="card-body">
          <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="ジャンル検索" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-9">
      <div class="card mt-5 box-shadow" style="width: 25rem;">
        <div class="card-body">
          <p class="card-text">
            ようこそ、ながのCAKEへ！<br>
            このサイトは、ケーキ販売のECサイトでございます。<br>
            会員でない方でも商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。
          </p>
        </div>
      </div>
      <div class="mt-3">
        <h3>新着商品</h3>
      </div>
      <div>
        <!--Products.each do |product| ...-->
      </div>
        <p class="text-end fs-5"><%= link_to "全ての商品へ", "", class: 'text-decoration-none' %></p>
      </div>
    </div>
  </div>
</div>