<table class='table'>
  <thead>会員一覧
    <tr>
      <th></th>
      <th>会員ID</th>
      <th>氏名</th>
      <th>メールアドレス</th>
      <th>ステータス</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= link_to(customer.id) do %>
              <%= customer.name %>
            <% end %>
        </td>
        <td><%= customer.email %></td>
        <td><%#= customer.ステータスを表示させたい %></td>
      </tr>
    <% end %>
  </tbody>
</table>

