<h1>ジャンル編集</h1>
<div>
  <%= form_with model: @genre,  url: admin_genre_path do |f| %>
  <div>
    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name %>
    <%= f.submit  "変更を保存" %>
  </div>
  <% end %>
</div>
