<div class="container">
  <div class="row">
    <h2>管理者画面Top</h2>
  </div>
  <div class="btn-wrapper col-10 mx-auto">
    <div class="row">
      <%= link_to 'Log in',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>
    </div>
</div>