<div class="container">
  <div class="row">
    <div class="mx-au">
      <h2>ご注文ありがとうございました！</h2>
    </div>
    <div>
      ご注文履歴は
      <%= link_to "こちらへ", customer_orders_path %>
    </div>
  </div>
</div>

